header {
  background: yellow;
}

h1 {
  text-align: right;
}

nav {
  background-color: green;

}

aside {
  float: right;
  background-image: url(http://www.literarygenius.info/images/william-shakespeare.jpg);
  background-size: 100px, 75px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 200px;
}

nav ul li {
  display: inline-block;
  background-color: black;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0 auto;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
