*:before, *:after {
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.media {
  padding-top: 3rem;
}

.side-picture {
  width: 10rem;
}

.form-line {
  padding-top: 3rem;
  margin: 0 auto;
  width: 70%;
}

.btn-center {
  display: block;
  margin: 0 auto;
}

.form-group {
  display: block;
}

.control-bar {
  padding-top: 3rem;
  margin: auto;
  width: 70%;
}
