body {

  background-color: #ebebe0;

  @mixin atMedium {
    background-image: url("../../assets/images/stockcc1.jpg");
    background-size: cover;
    background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
  }
}

#logo {
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  height: 80px;
  width: 100%;
  background-color: $mainBlue;
  color: white;

  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.3rem;

  @mixin atSmall {
    height: 150px;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  @mixin atMedium {
    line-height: 4.2rem;
    font-size: 3.5rem;
    text-align: left;
  }
  @mixin atLarge {
    font-size: 5.125rem;
  }
}

.sublogo {
  font-size: 0.8rem;

  @mixin atSmall {
    font-size: 1.2rem;
  }
  @mixin atMedium {
    font-size: 1.5rem;
  }
  @mixin atLarge {
    font-size: 2.25rem;
  }
}
